* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #ddd;
  background: #111;
  width: 100%;
  height: 100%;
}

input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

::placeholder {
  color: #bbb;
}

sup,
sub {
  font-size: 65%;
}


/* button */

button {
  width: 100px;
  max-width: 120px;
  min-width: 80px;
  height: 40px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  background-color: #0073b5;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* animation */
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.3s;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #444446;
  color: white;
}

.btn-blue {
  background-color: #0073b5;
}

.btn-fade-green {
  background-color: #31923e;
}

.btn-deep-red {
  background-color: #c7301b;
}

.key-signature-btn {
  width: 50px;
  max-width: 60px;
  min-width: 30px;
  margin-left: 5px;
}


/* custom checkbox */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
  background-color: #999;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* main layout*/

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 10px;
  max-width: 750px;
  min-width: 320px;
  margin-top: -100px;
  /* border: solid #999 3px; */
}


/* #question */

#question {
  /* grid in container */
  grid-row: 1 / 6;
  /* arrange div in #question */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: minmax(80px, auto);
  /* border: solid #e32626 5px; */
}

#open-setting-btn {
  /* grid in question */
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  /* align bottom */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 20px 0;
  margin-left: 10px;
  /* border: solid rgb(15, 173, 76) 5px; */
}

.question-description {
  /* grid in question */
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  /* align bottom */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 20px 20px 0;
  margin-left: 10px;
  /* font */
  font-size: 24px;
  /* border: solid rgb(181, 192, 223) 5px; */
}

#question-key {
  /* grid in question */
  grid-column: 4 / 8;
  grid-row: 1 / 3;
  /* align bottom */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  /* border: solid rgb(15, 0, 221) 5px; */
  font-size: 70px;
}

#question-answer {
  /* grid in question */
  grid-column: 8 / 12;
  grid-row: 1 / 3;
  display: none;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* border: solid rgb(166, 219, 190) 5px; */
}

.notes-in-key {
  width: 100%;
  height: 30px;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: solid #e00 2px; */
  font-size: 30px;
  color: #89d1fa;
}

.notes-in-key-note,
.notes-in-key-degree {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #userAttempt  */

#userAttempt {
  /* grid in container */
  grid-row: 6 / 8;
  /* arrange div in userAttempt */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: min-content;
  /* border: solid #e3f326 2px; */
}

.userAttempt-description {
  /* grid in userAttempt */
  grid-column: 1 / 4;
  /* align bottom right */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
  /* font */
  font-size: 24px;
  /* border: solid #e00 2px; */
}

.userAttempt-input {
  /* grid in userAttempt */
  grid-column: 4 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px 0 5px;
  /* border: solid #0e0 2px; */
}

.userAttempt-btn {
  /* grid in userAttempt */
  grid-column: 8 / 12;
  /* align two buttons */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 5px;
  margin: 0 5px;
  /* border: solid #999 2px; */
}

.userAttempt-btn>button {
  margin: auto 5px;
}

.correct-answer {
  color: #49bc91;
}

.wrong-answer {
  color: #df3f4d
}


/* #answer */

#hint {
  /* grid in container */
  grid-row: 8 / 12;
  /* arrange div in #answer */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  border: solid #e323d6 2px;
  display: none;
}

#hint-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #eee 2px;
}

#hint-btn {
  width: 120px;
}

#hint-piano {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #00ff00 2px;
}


/* keyboard of key and signature */

.keyboard-btn {
  /* grid in container */
  grid-row: 8 / 10;
  /* arrange div in keyboard-btn */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: min-content;
  /* border: solid #00ff00 2px; */
}

.keyboard-btn-description {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  /* align bottom right */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 0;
  /* font */
  font-size: 24px;
  /* border: solid rgb(115, 15, 173) 5px; */
}

.keyboard-btn-group-1 {
  grid-column: 4 / 12;
  grid-row: 1 / 2;
  /* border: solid rgb(144, 192, 31) 5px; */
}

.keyboard-btn-group-2 {
  grid-column: 4 / 12;
  grid-row: 2 / 3;
  /* border: solid rgb(15, 52, 173) 5px; */
}


/* The Modal (background) */

.modal {
  /* display: block; */
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #262849;
  margin: auto;
  margin-top: -40px;
  border-radius: 5px;
  max-width: 500px;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.requirement {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-row-gap: 5px;
}

.triad-checkbox-group {
  grid-row: 1 / 2;
}

.seventh-checkbox-group-1 {
  grid-row: 2 / 3;
}

.seventh-checkbox-group-2 {
  grid-row: 3 / 4;
}

.apply-btn {
  grid-row: 4 / 5;
}

.checkbox-row {
  /* grid-auto-columns:  */
  width: 100%;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
}


/* reference */

#todo-item-description {
  width: 270px;
  margin-bottom: 20px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 讓 div 裡面可以認得 '\n' 換新行 */
  white-space: pre-line;
  /* 超過 width:270px 就換行, 若有設定 max-height 就要設 overflow */
  word-wrap: break-word;
  word-break: break-all;
  /* overflow: hidden; */
}

@media screen and (max-width: 630px) {
  #question-key {
      font-size: 60px;
      padding-bottom: 5px;
  }
  .userAttempt-btn>button {
      margin: 5px;
  }
}

@media screen and (max-width: 500px) {
  #question-key {
      font-size: 45px;
      padding-bottom: 10px;
  }
  .question-checkbox {
      width: 90%;
  }
  button {
      width: 100px;
      max-width: 120px;
      min-width: 60px;
      font-size: 16px;
      padding: 2px;
  }
}

@media screen and (max-width: 450px) {
  .key-signature-btn {
      width: 40px;
      max-width: 60px;
      min-width: 30px;
      margin-left: 3px;
  }
  input[type=text] {
      font-size: 18px;
      padding: 6px 4px;
  }
}

@media screen and (max-width: 400px) {
  .key-signature-btn {
      width: 36px;
      max-width: 60px;
      min-width: 30px;
      margin-left: 2px;
  }
  .question-description,
  .userAttempt-description,
  .keyboard-btn-description {
      font-size: 18px;
  }
  input[type=text] {
      font-size: 15px;
      padding: 3px 2px;
  }
  sup,
  sub {
      font-size: 50%;
  }
}