* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, sans-serif;
  font-size: 16px;
  color: #ddd;
  background: #111;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  margin: 20px auto;
  font-size: 20px;
  color: #e5e5e5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
}

#game-map {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  margin: 0 10px;
  width: 280px;
  height: 280px;
  border: 1px solid #33477c;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border: 1px solid #33477c;
  box-sizing: border-box;
}

.snake {
  background-color: #52acad;
}

.apple {
  background-color: #ac2b49;
}

.setting-panel{
  margin: 0 10px;
  width: 240px;
}

.field {
  display: flex;
  height: 38px;
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  padding: 5px;
  color: #bbb;
}

.info {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.task-symbol {
  border-bottom: 1.5px #4966b2 solid;
  margin-right: 5px;
  min-width: 20px;
  height: 20px;
  text-align: center;
}

#taskName sup {
  margin-left: -5px;
}

#taskName sub {
  margin-left: -3px;
}

.action-bar {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  margin: 5px;
  padding: 8px;
  width: 82px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #ddd;
  font-family: monospace, sans-serif;
  cursor: pointer;
}

.btn:focus{
  outline: none;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.btn:disabled {
  opacity: 0.6;
  cursor: auto;
}

.btn.primary {
  background-color: #4966b2;
}

.btn.secondary {
  background-color: #52acad;
}

.hide {
  display: none;
}

.close {
  opacity: 0.6
}
