* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, sans-serif;
    font-size: 16px;
    color: #ddd;
    background: #111;
    width: 100%;
    height: 100%;
}

#header {
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
}

#bucket {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(35px, 35px);
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10px;
}

.cell {
    border: 1px solid #10679a;
}

.type1 {
    background-color: #846eaa;
}

.type2 {
    background-color: #7dcffc;
}

.type3 {
    background-color: #ea4335;
}

.type4 {
    background-color: #fbbc05;
}

.type5 {
    background-color: #34a853;
}

.type6 {
    background-color: #ffffff;
}

.type7 {
    background-color: #264faf;
}


/* The Modal (background) */

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #005669;
    margin: auto;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* button */

button {
    width: 100%;
    max-width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #555555;
    color: white;
}

.btn-blue {
    background-color: #166fd5;
}